* {
  margin: 0;
  font-family: "Work Sans";
}
.head {
  background-color: rgba(255, 144, 14, 0.1);
}
.header-title {
  display: flex;
  justify-content: space-between;
}
.g3 {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #131313;
  margin: 50px 673px 102px 228px;
}
.info {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #424242;
  margin: 63px 240px 116px 0;
}

.header-description {
  margin: 0px 529px 33px 529px;
}
.header-description-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #131313;
}
.header-description-p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
  margin: 50px 3px 1px 3px;
}
.btn-primary {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 20px 24px;
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
}
.header-image img {
  margin-left: 240px;
  padding-bottom: 20px;
  width: 1440px;
  height: 700px;
}

.list {
  margin: 85px 301px 130px 301px;
  display: flex;
}
.list-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.list-images img {
  width: 342px;
  height: 342px;
}
.list-title {
  font-weight: 500;
  font-size: 45px;
  margin-top: 202px;
  margin-left: 76px;
  margin-bottom: 24px;
}
.list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.feature {
  margin: 0 240px 130px 240px;
  display: flex;
  gap: 130px;
}
.features-titles {
  margin: 39px 0;
}
.feature-title-heading {
  width: 468px;
  height: 106px;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  padding-left: 21px;
  border-left: solid 5px #ff900e;
  margin-bottom: 24px;
}
.feature-title-description {
  width: 586px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.feat {
  width: 586px;
  height: 744px;
  margin-bottom: 20px;
}
.f {
  width: 586px;
  height: 171px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 0px 0 30px;
}
.fh {
  width: 252px;
  height: 23px;
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin-bottom: 10px;
}
.fp {
  width: 514px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.feature-image img {
  width: 800px;
  height: 1059px;
}


.facts-title {
  margin: 0 1422px 24px 240px;
  width: 258px;
  height: 53px;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.facts-description {
  margin: 0 1138px 100px 240px;
  width: 542px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.facts-images {
  margin: 100px 290px 180px 290px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fact-a {
  margin-left: 40px;
  transition: transform 1s ease-in-out;
}
.fact-a:hover{
    transform: rotate(180deg);
}
.factos {
  width: 241.83px;
  height: 241.83px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  align-content: center;
}
.factos-number {
  width: 55px;
  height: 53px;
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}
.factos-title {
  width: 169px;
  height: 23px;
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

.footer-title {
  text-align: center;
  width: 327px;
  height: 53px;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin: 180px 796px 24px 797px;
}
.footer-discussion {
  width: 542px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
  margin: 0px 689px 50px 689px;
}
.footer-logo {
  display: flex;
  height: 50px;
  mix-blend-mode: luminosity;
  justify-content: space-around;
  margin: 0 240px 130px 240px;
}
.footer-foot {
  width: 1440px;
  height: 100px;
  background-color: #fff4e7;
  border-radius: 8px;
  margin: 0 240px 216px 240px;
}
.footer-text {
  width: 620px;
  height: 23px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #424242;
  padding: 39px 410px 39px 410px;
}
